<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.android.car.ui" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:exported="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/vulpix"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShinyHuntAndroid"
        tools:targetApi="31">

        <activity
            android:name=".Pokedex.Pokedex"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PagInicio.PagInicio"
            android:exported="true"
            android:theme="@style/Theme.ShinyHuntAndroid"/>

        <activity
            android:name=".PagEscolherPokemon.PagEscolherPokemon"
            android:exported="true"
            android:theme="@style/Theme.ShinyHuntAndroid"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".PagHunt.PagHunt"
            android:exported="true"
            android:theme="@style/Theme.ShinyHuntAndroid" />

        <activity
            android:name=".PagLogin.PagLogin"
            android:exported="true" />
    </application>

</manifest>